html {
    font-size: 1vw;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.anton {
    font-family: 'Anton', sans-serif;
    font-weight: 400;
}
.roboto{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
}
.red {
    color: #F15C5C;
    fill: #F15C5C;
}
.blue {
    color: #1667B2;
    fill: #1667B2;
}
.grey {
    color: #ccc;
    fill: #ccc;
}
.logo {
    width: 100%;
    height: 18rem;
    border-bottom: solid 2rem #1667B2;
    position: fixed;
    top: 0;
    background: white;
    max-height: 12vh;
    min-height: 6rem;
    z-index: 1;
}


.text-flow {
    width: 95%;
    font-size: 20rem;
    line-height: 80%;
    margin: 2rem;
    text-align: center;
    display: block;
}

.blue-rule {
    width: 100%;
    height: 2rem;
    background: #1667B2;
    display: block;
}

.disclaimer {
    width: 88%;
    text-align: center;
    display: block;
    font-size: 15px;
 color: #666;
    margin-top: 6rem;
    margin-left: 5rem;
    margin-right: 4rem;
}

.share {
    z-index: 2;
    width: 100%;
    height: 15rem;
    bottom: 0;
    position: fixed;
    background: white;
    border-top: solid 2rem #1667B2;
    
    max-height: 14vh;
    min-height: 6rem;
}



.share-link:hover circle {
    fill:#1667B2;
}

.spacer {
    width: 100%;
    height: 18rem;
    border-bottom: solid 2rem rgba(0, 0, 0, 0);
    max-height: 12vh;
}

section {
    padding-top:6rem;
    padding-bottom:14rem;
    border-bottom: solid #eee 2rem;
    position: relative;
    overflow: hidden;
}

.link {
    text-align: center;
    font-size: 2.5rem;
    text-decoration: none;
    display: block;
}
.link:hover {
    color:#F15C5C;
    text-decoration: underline;
}

.cta {
    color: white;
    background: #F15C5C;
    border: 0;
    outline: 0;
    font-size: 6rem;
    width: 52rem;
    margin: auto;
    display: block;
    text-decoration: none;
    cursor: pointer;
    margin-top: 10rem;
    margin-bottom: -4rem;
}
.cta:hover {
    background: #1667B2;
}

.donate-button {
    text-decoration: none;
}

.math-box {
    display: none;
}
.math-box:checked ~ .math-container{
    top:0%;
    
}
.math-box:checked  ~ .math-container .math-box-label{
    top:3rem;
}
.math-box:checked  ~ .math-container .math-box-label .plus-icon{
    transform: rotate(45deg) translate(0.4rem);
}
.math-box:checked  ~ .math-container .math-box-label .math-label-text{
    opacity: 0;
}

.math-box-label {
    font-size: 6.7rem;
    background: #1667B2;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    color: white;
    text-align: center;
    top:-12rem;
    right: 8rem;
    line-height: 0.9rem;
    position: absolute;
    cursor: pointer;
     transition: top 0.3s cubic-bezier(.4,0,.6,1);
}

.math-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    background: rgba(255, 255, 255, 0.92);
    transition: top 0.3s cubic-bezier(.4,0,.6,1);
    border-top: solid 2rem #EEEEEE;
}

.math-label-text {
    color: #CCCCCC;
    margin-left:-40.3rem;
    margin-right: 1.2rem;
    line-height: 6.5rem;
    display: inline-block;
    opacity: 1;
    transition: opacity .3s cubic-bezier(.4,0,.6,1);
}



.plus-icon {
    line-height: 5.2rem;
    vertical-align:top;
    display: inline-block;
    transition: transform .3s cubic-bezier(.4,0,.6,1);
}

.math-link {
    fill:#1868B2;
}
.math-link:hover {
    fill:#F15C5C;
}